body {
  font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a:link {
  text-decoration: none;
}

.toptop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background-color: black;
  margin: 0;
 
}

.toptop ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;

}

.toptop ul li {
   display: inline-block; 
}

.toptop ul li a, nav ul li a:visited {
  padding: 21px;
  font-weight: 600;
  color: #666666;
}

.toptop li a:hover {
  color: white;
  transition: 0.5s;
}

/*toptop*/

.img-block {
  position: relative;
}

.img-block img {
  width: 100%;
  margin 0 auto;
}

.img-text {
  position: absolute;
  top: 42px;
  text-align: center;
  width:100%;
}

.img-text .headline {
    font-size: 144px;
    line-height: 1;
    font-weight: 600;
    color: whitesmoke;
    
}

.aa {
  position: absolute;
  bottom: 0;
  right:0;
  font-size: 13px;
  color: whitesmoke;
}